body {
    background: #eee;
}

div.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.container div {
    margin: auto;
    width: 500px;
}

#tsk {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 8px;
}

#hst {
    margin-top: 10px;
    text-align: center;
}

#hst ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#hst li {
    padding: 3px;
}

#hst li:first-child {
    padding-top: 0px;
}

#input-inp {
    border: 1px solid gray;
    width: 100%;
    padding: 8px;
    text-align: center;
    box-sizing: border-box;
}